* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
/* général------------------------------------------------------------------------------------------------------*/
.button {
  background-color: white;
  border: 2px black solid;
  padding: 14px;
  color: black;
  font-size: 20px;
  font-family: Instrument Serif;
  font-style: italic;
  font-weight: 400;
  word-wrap: break-word;
  width: 185px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}
/* choice-------------------------------------------------------------------------------------------------------------------------------------------------------- */

.choice {
  background-image: url(../img/bg-moon.svg);
  color: antiquewhite;
}

.choice-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 448px;
  text-decoration: none;
}

/* first-logo-------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Full-page div with initial white background */
.first-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  transition: background-color 0.3s ease; /* Smooth transition for opacity change */
}

/* Style the logo */
.first-logo img {
  width: 50%; /* Adjust the size of the logo */
  max-width: 400px;
}

/*.papillon-------------------------------------------------------------------------------------------------------------*/
.papillon {
  position: absolute;
  top: 320px;
  left: 20px;
}
/*.train et slides ----------------------------------------------------------------------------------------------------------------*/
.train {
  height: 180px;
  margin-bottom: 120px;
  right: 100%;
}

.train-container {
  position: relative;
  height: 180px;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: -120px;
}

.space-holder {
  position: relative;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
}

.cards {
  position: relative;
  height: 100%;
  padding: 0 0 0 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sample-card {
  position: relative;
  height: 300px;
  width: 500px;
  margin-right: 75px;
  flex-shrink: 0;
}

/*slides------------------------------------------------------------------------------------------------------*/
.images-slide {
  display: flex;
  flex-direction: row;
}
/*.choix----------------------------------------------------------------------------------------------------------------*/
.choice {
  padding: 180px 0 420px 0;
}
/*.bande annonce--------------------------------------------------------------------------------------------------------*/
.bandeannonce {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}
/*.buying-section-------------------------------------------------------------------------------------------------------*/
.buying-section {
  background-color: #e6edea;
  padding: 40px 187px 132px 55px;
}

.buying-section-titles {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 32px;
}

.buying-section h4 {
  margin-left: 30px;
  color: black;
  font-size: 48px;
  font-family: Instrument Serif;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 32px;
}

.buying-section h3 {
  color: black;
  font-size: 96px;
  font-family: Instrument Serif;
  font-style: italic;
  font-weight: 400;
  word-wrap: break-word;
}

h5 {
  color: black;
  font-size: 24px;
  font-family: Instrument Serif;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 11px;
}
.image-book {
  width: 20%;
  height: 100%;
}
.buying-section p {
  color: black;
  font-size: 14px;
  font-family: IBM Plex Mono;
  font-weight: 300;
  word-wrap: break-word;
}

ul {
  color: black;
  font-size: 14px;
  font-family: IBM Plex Mono;
  font-weight: 300;
  word-wrap: break-word;
}

.book-info {
  margin-bottom: 32px;
}

.summary {
  margin-bottom: 26px;
}

.buying-section .button {
  margin-bottom: 132px; /* A VOIR SI CE NE SERAIT PAS MIEUX DE METTRE UNE MAEGI POUR TTE LA SECTION */
}

/*footer----------------------------------------------------------------------------------------------------------------*/
footer {
  background-color: #bad6ca;
}
