* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
/* général------------------------------------------------------------------------------------------------------*/

/* choice-------------------------------------------------------------------------------------------------------------------------------------------------------- */

.choice {
  background-image: url(../img/bg-moon.svg);
  color: antiquewhite;
}

/* first-logo-------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Full-page div with initial white background */
.first-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  transition: background-color 0.3s ease; /* Smooth transition for opacity change */
}

/* Style the logo */
.first-logo img {
  width: 50%; /* Adjust the size of the logo */
  max-width: 400px;
}

/*.papillon-------------------------------------------------------------------------------------------------------------*/
.papillon {
  position: absolute;
  top: 320px;
  left: 20px;
}
/*.train----------------------------------------------------------------------------------------------------------------*/
/*.container-slide------------------------------------------------------------------------------------------------------*/
/*.bande annonce--------------------------------------------------------------------------------------------------------*/
/*.buying-section-------------------------------------------------------------------------------------------------------*/
/*footer----------------------------------------------------------------------------------------------------------------*/
