* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
/* général------------------------------------------------------------------------------------------------------*/

/* choice-------------------------------------------------------------------------------------------------------------------------------------------------------- */

.choice {
  background-image: url(../img/bg-moon.svg);
  color: antiquewhite;
}

/* first-logo-------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Full-page div with initial white background */
.first-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  transition: background-color 0.3s ease; /* Smooth transition for opacity change */
}

/* Style the logo */
.first-logo img {
  width: 50%; /* Adjust the size of the logo */
  max-width: 400px;
}

/*.papillon-------------------------------------------------------------------------------------------------------------*/
.papillon {
  position: absolute;
  top: 320px;
  left: 20px;
}
/*.train et slides ----------------------------------------------------------------------------------------------------------------*/
.train {
  height: 180px;
  margin-bottom: 120px;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.space-holder {
  position: relative;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
}

.cards {
  position: relative;
  height: 100%;
  padding: 0 0 0 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sample-card {
  position: relative;
  height: 300px;
  width: 500px;
  margin-right: 75px;
  flex-shrink: 0;
}

/*slides------------------------------------------------------------------------------------------------------*/
.images-slide {
  display: flex;
  flex-direction: row;
}
/*.choix----------------------------------------------------------------------------------------------------------------*/
.choice {
  padding: 180px 0 420px 0;
}
/*.bande annonce--------------------------------------------------------------------------------------------------------*/
.bandeannonce {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}
/*.buying-section-------------------------------------------------------------------------------------------------------*/
/*footer----------------------------------------------------------------------------------------------------------------*/
